// Set your brand colors
$jaja-orange: #dea38b;
$jaja-red: #de8c94;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $primary: $jaja-orange,
  $danger: $jaja-red,
  $section-padding: 3rem 0.8rem,
  $content-table-cell-padding: 0.25em 0.25em,
);

html {
  font-size: 18px;
}

body {
  font-family: "Noto Sans JP", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
}

.jaja-bg-cover {
  background-image: url(./asset/cover.png);
  background-color: transparent;
  background-size: cover;
  background-position: center;
}

table {
  th {
    vertical-align: top;
  }
}

.jaja-card-image {
  height: 200px;
  overflow: hidden;
}

.jaja-card-image-default {
  height: 50px;
  overflow: hidden;
}

.jaja-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.75;
}

.jaja-tags .tag.shadow {
  box-shadow: rgba(9, 10, 12, 0.1) 0px 9px 18px -2.25px, rgba(9, 10, 12, 0.02) 0px 0px 0px 1px;
}

.is-middle {
  vertical-align: middle !important;
}

.card-image .tag-overlay {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  gap: 6px;
  z-index: 10;
  pointer-events: auto;
  /* 必要ならクリック可能に */
}

.is-size-65 {
  font-size: 0.85rem !important;
}

.is-size-8 {
  font-size: 0.65rem !important;
}

@media screen and (max-width: 768px) {
  .is-size-65-mobile {
    font-size: 0.85rem !important;
  }

  .is-size-8-mobile {
    font-size: 0.65rem !important;
  }
}

@media screen and (min-width: 769px),
print {
  .is-size-65-tablet {
    font-size: 0.85rem !important;
  }

  .is-size-8-tablet {
    font-size: 0.65rem !important;
  }
}

@media screen and (max-width: 1023px) {
  .is-size-65-touch {
    font-size: 0.75rem !important;
  }

  .is-size-8-touch {
    font-size: 0.65rem !important;
  }
}

@media screen and (min-width: 1024px) {
  .is-size-65-desktop {
    font-size: 0.85rem !important;
  }

  .is-size-8-desktop {
    font-size: 0.65rem !important;
  }
}

@media screen and (min-width: 1216px) {
  .is-size-65-widescreen {
    font-size: 0.85rem !important;
  }

  .is-size-8-widescreen {
    font-size: 0.65rem !important;
  }
}

@media screen and (min-width: 1408px) {
  .is-size-65-fullhd {
    font-size: 0.85rem !important;
  }

  .is-size-8-fullhd {
    font-size: 0.65rem !important;
  }
}

.topIcon {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 10px;
  background: #303742;
  color: #ffffff;
  opacity: 0.5;
  border-radius: 50%;
  font-size: 14pt;
  font-weight: bold;
  line-height: 1.2em;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
  z-index: 999;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

.topIcon:hover {
  opacity: 0.9;
  /* カーソル時透明度 */
}
