body {
    font-family: "Noto Sans JP", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-optical-sizing: auto;
}

.topIcon {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 10px;
    background: #303742;
    color: #ffffff;
    opacity: 0.5;
    border-radius: 50%;
    font-size: 14pt;
    font-weight: bold;
    line-height: 1.2em;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    z-index: 999;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

.topIcon:hover {
    opacity: 0.9;
    /* カーソル時透明度 */
}

.event-img {
    object-fit: cover;
    height: 150px;
    width: 100%;
}

.chip {
    font-size: 110%;
    height: 2.0em;
    padding: 0.5em;
}

/* フィルターのオーバーライド */
.filter .filter-tag#tag-0:checked~.filter-nav .chip[for=tag-0],
.filter .filter-tag#tag-1:checked~.filter-nav .chip[for=tag-1],
.filter .filter-tag#tag-2:checked~.filter-nav .chip[for=tag-2],
.filter .filter-tag#tag-3:checked~.filter-nav .chip[for=tag-3],
.filter .filter-tag#tag-4:checked~.filter-nav .chip[for=tag-4],
.filter .filter-tag#tag-5:checked~.filter-nav .chip[for=tag-5],
.filter .filter-tag#tag-6:checked~.filter-nav .chip[for=tag-6],
.filter .filter-tag#tag-7:checked~.filter-nav .chip[for=tag-7],
.filter .filter-tag#tag-8:checked~.filter-nav .chip[for=tag-8],
.filter .filter-tag#tag-9:checked~.filter-nav .chip[for=tag-9] {
    background: #5755d9;
    color: #fff;
}

.filter .filter-tag#tag-1:checked~.filter-body .filter-item:not([data-tag~=tag-1]),
.filter .filter-tag#tag-2:checked~.filter-body .filter-item:not([data-tag~=tag-2]),
.filter .filter-tag#tag-3:checked~.filter-body .filter-item:not([data-tag~=tag-3]),
.filter .filter-tag#tag-4:checked~.filter-body .filter-item:not([data-tag~=tag-4]),
.filter .filter-tag#tag-5:checked~.filter-body .filter-item:not([data-tag~=tag-5]),
.filter .filter-tag#tag-6:checked~.filter-body .filter-item:not([data-tag~=tag-6]),
.filter .filter-tag#tag-7:checked~.filter-body .filter-item:not([data-tag~=tag-7]),
.filter .filter-tag#tag-8:checked~.filter-body .filter-item:not([data-tag~=tag-8]),
.filter .filter-tag#tag-9:checked~.filter-body .filter-item:not([data-tag~=tag-9]) {
    display: none;
}